.grid {
  z-index: 5;
  position: relative;

  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      opacity: 0;
      animation: fadeIn 0.5s ease-in both;
      animation-delay: $i * 0.5s;
    }
  }
  .card-scale {
    transition: all 0.2s ease-in-out;
    box-shadow: 8px 4px 8px 8px rgba(0, 0, 0, 0.2);
  }
  .card-scale:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0 0;
  }

  // delayed fade in animation with sass for loop.
}

// ---------------------- IE 10 Supported ---------------------//
/* entire container, keeps perspective */
.business-card {
  perspective: 1000px;
  transform-style: preserve-3d;
  box-shadow: 8px 4px 8px 8px rgba(0, 0, 0, 0.2);
}
/*  UPDATED! flip the pane when hovered */
.business-card:hover .back {
  transform: rotateY(0deg);
}
.business-card:hover .front {
  transform: rotateY(180deg);
}

.business-card,
.front,
.back {
  width: 100%;
  height: 480px;
  box-shadow: 8px 4px 8px 8px rgba(0, 0, 0, 0.2);
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;

  position: absolute;
  top: 0;
  left: 0;
}

/*  UPDATED! front pane, placed above back */
.front {
  z-index: 2;
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(-180deg);
}

/* 
	Some vertical flip updates 
*/
.vertical.business-card {
  position: relative;
}

.vertical .back {
  transform: rotateX(180deg);
}

.vertical.business-card:hover .back {
  transform: rotateX(0deg);
}

.vertical.business-card:hover .front {
  transform: rotateX(180deg);
}

// fade in animation
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
